:root {
    --sage: rgb(64, 139, 104);
    --bg: rgb(64, 139, 104);
    --shadow: 0 2px 2px rgb(0,0,0/0.5) 
}

body{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    min-height: 2000px;
}
.hero{
    min-height: 100vh;
    background: var(--bg);
    max-height: fit-content;
}

.hero h1 {
    font-family: "sacramento", cursive;
    font-size: 4rem;
    font-weight: bold;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--sage);
    background-color:  white;
}

.hero a:hover {
    background-color: var(--sage);
    color:white;
}